.botao{
    background-color: #268AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 55px;
    border-radius: 30px;
    box-shadow: 0px 5px 0px 0.5px #1564be;
    transition: 0.2s all;
}

.botao img{
    width: 28px;
    height: 28px;
}

.botoes{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    gap: 25px;

}

.botao:hover{
    
    box-shadow: 0px 0px 0px 0px #1564be;
    transform: translateY(5px);
}

#poucoCurvado{
    margin-left: -80px;
}


#muitoCurvado{
    margin-left: -150px;
}